@font-face {
  font-family: 'Gotham Pro';
  font-style: bold;
  font-weight: bold;
  src: url('fonts/GothamPro-Bold.woff') format('woff');
}

html * {
	box-sizing: border-box;
}

html {
	height: 100%;
	min-height: 100%;
	min-width: 320px;	
}

body {
	position: relative;
	min-height: 100%;
	padding: 0;
	margin: 0;	
}

.wrapper {
 	min-height: 100%;
 	display: flex;
 	flex-direction: column;
}

.content-inner {
	min-width: 320px;
	max-width: 100%;
	width: 1200px;	
	padding: 0px 15px;
	margin: 0 auto 0 auto;
}

header {
	width:100%;	
	align-self: flex-start;
	flex: 0 0 auto;
	font-family: 'Open Sans', sans-serif;
	background-color: #f0f0f0;
	color: #333333;	
	height: 42px;	
}

p {
	margin: 0px;
}

.top-header {
	text-align: right;	
}

.mail {
	display: inline-block;
	line-height: 42px;
	text-decoration: underline;
	font-size: 14px;
	color: black;
}

.time-work {
	display: inline-block;
	line-height: 42px;
	font-size: 13px;
}

.mail:before {
	content: "";
	height: 12px;
	width: 15px;
	background-image: url("img/mail.png");
	display: inline-block;
	vertical-align: middle;	
	margin-right: 10px;	
}

.time-work:before {
	content: "";
	height: 15px;
	width: 15px;
	background-image: url("img/clock.png");
	display: inline-block;
	vertical-align: middle;
	margin-left: 45px;
	margin-right: 10px;	
}

.middle-header {
	margin-top: 28px;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.logo-icon {
	display: inline-block;
	vertical-align: middle;
}

.rent {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 14px;
	width: 200px;
	margin-left: 46px;
	color: gray;
}

.snabstroy {
	display: inline-block;
	vertical-align: middle;
  	font-family: 'Gotham Pro'; 
  	font-weight: bold;	
  	font-size: 36px;
  	margin-left: 6px;
  	letter-spacing: -0.02em;
}

.price {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	width: 240px;
	height: 35px;
	margin-left: 47px;
	background-color: red;
	color: white;
	border-radius: 3px;
	text-decoration: none;
}

.price:hover {
	text-decoration: underline;
}

.call {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 12px;
	width: 174px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 2px solid red;
	margin-left: 17px;
	border-radius: 3px;
	color: red;
	text-decoration: none;
}

.call:hover {
	text-decoration: underline;
}

.number {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-left: 23px;
}

.number span {
	color: grey;
}

.bottom-header {
	border-top: 1px solid #dddddd;
	height: 65px;
	margin-top: 24px;
}

.header-menu {
	display: inline-flex;
	align-items: flex-end;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 800;
	color: black;
	padding: 0px;	
	margin: 0px;	
	border-right: 1px solid #dddddd; 
	height: 65px;
}

.header-menu * {
	display: inline-block;	
	padding: 21px 0px;	
}

.header-menu li {	
	text-align: center;	

}

.header-menu li:nth-child(1) {
	width: 140px;
}

.header-menu li:nth-child(2) {
	width: 120px;
}

.header-menu li:nth-child(3) {
	width: 110px;;
}

.header-menu li:nth-child(4) {
	width: 140px;;
}

.header-menu li:nth-child(5) {
	width: 170px;
}

.header-menu li:nth-child(6) {
	width: 110px;
}

.header-menu li:nth-child(7) {
	width: 110px;
}

.header-menu li:nth-child(4):before {
	content: "";
	height: 17px;
	width: 18px;
	background-image: url("img/ac.png");
	display: inline-block;
	vertical-align: middle;	
	margin-right: 8px;	
}

.header-menu li:hover {
	border-top: 3px solid red;
}

.header-menu a {
	padding: 0px;
	text-decoration: none;
	color: black;
}

.search {
	display: inline-block;
	vertical-align: middle;
}

.button {
	display: inline-block;	
	position: relative;
	vertical-align: top;
}

form input {	
	margin-left: 35px;
	border: 0px;
	width: 155px;
}

form button {	
	position: absolute;
	opacity: 0;		
	width: 19px;
	height: 19px;
	z-index: 2;	
	cursor: pointer;
}

.search-button {
	position: absolute;
	background-image: url("img/search.png");
	width: 19px;
	height: 19px;	
	z-index: 1;	
}

.slider-wrapper {
	margin: 0px auto;
	position: relative;
	width: 100%;
	height: 460px;
	background-color: #ffbf13;	
	font-family: 'Open Sans', sans-serif;
}

.slider	{
	font-size: 0;
	padding: 0;
	margin: 0px auto;
	width: 1200px;	
}

.slide.active {
	display: block;
}

.slide {
	display: none;
	position: relative;
	font-size: 0px;
	list-style-type: none;	
}

.slider-wrapper img {	
	height: 460px;
	width: 1170px;
}

.slider-wrapper p:nth-child(2) {
	text-align: left;
	position: absolute;
	width: 325px;	
	top: 50px;	
	font-size: 56px;
	font-weight: 800;
	color: black;
	line-height: 60px;
}

.slider-wrapper p:nth-child(3) {
	text-align: left;
	position: absolute;
	width: 520px;	
	top: 260px;	
	font-size: 24px;
	font-weight: 200;
	color: black;
	line-height: 24px;
}

.slider-wrapper .more {
	text-align: center;
	position: absolute;
	width: 190px;
	height: 50px;		
	border: 3px solid black;
	border-radius: 3px;
	bottom: 60px;
	font-size: 18px;
	font-weight: 800;
	line-height: 50px;
	color: black;
	cursor: pointer;	
}

.more a {
	color: black;
	text-decoration: none;
}

.pagination {
	position: absolute;
	text-align: center;
	margin-top: 10px;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);	
}

.point {
	position: relative;
	display: inline-block;	
	width: 12px;
	height: 12px;
	border-radius: 12px 12px 12px 12px;
	background-color: black;
	opacity: 0.4;	
	cursor: pointer;	
	font-size: 0px;
}

.point.active:before {
	content: "";
	position: absolute;
	display: inline-block;	
	width: 22px;
	height: 22px;
	border-radius: 30px 30px 30px 30px;
	background-color: rgba(255,255,255,0);
	z-index: -1;		
	font-size: 0px;
	border-right: 2px solid red;
	border-bottom: 2px solid red;
	border-top: 2px solid red;
	border-left: 2px solid white;
	top: -7px;
	left: -7px;
	transform: rotate(30deg);
}


.point:not(:nth-child(1)) {
	margin-left: 20px;
}

.point.active {
	opacity: 1;
	background-color: white;
}

.right-section {
	display: inline-block;
	vertical-align: top;
	margin-top: 61px;
	margin-left: 30px;
	font-family: 'Open Sans', sans-serif;
}

.left-section {
	display: inline-block;
	vertical-align: top;
	margin-top: 61px;
	width: 272px;
	font-family: 'Open Sans', sans-serif;
}

.left-section p {
	font-size: 20px;
	margin-bottom: 20px;
}


.hamb-menu {
	display: none;	
	left: 0px;
	margin: 0px;
	bottom: 100%;
	width: 270px;
	background-color: white;
	text-align: left;
	padding: 0px;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;	
}

.hamb-menu li {
	display: block;			
	padding: 15px 0px 15px 32px; 	
}

.hamb-menu a {	
	color: #585858;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
}

.hamb-menu a:hover {
	font-weight: 600;
	color: black;
}

.hamburger {
	display: inline-block;
	margin-top: 0px;
	height: 54px;
	width: 270px;
	font-size: 15px;
	text-align: left;
	background-color: #dddddd;
	line-height: 54px;	
	padding-left: 30px;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	border-bottom: 2px solid #c9c9c9;
}

.hamburger:after {
	content: "⯈";	
}

#hamb:checked ~ .hamb-menu {
	display: block;
}

#hamb:checked ~ .hamburger {
	opacity: 0.7;
	border-bottom: 0px;
}

#hamb:checked ~ .hamburger:after{
	content: "⯆";	
}

#hamb {
	display: none;
}

.hamb-menu1 {
	display: none;	
	left: 0px;
	margin: 0px;
	bottom: 100%;
	width: 270px;
	background-color: white;
	text-align: left;
	padding: 0px;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;	
}

.hamb-menu1 li {
	display: block;			
	padding: 15px 0px 15px 32px; 	
}

.hamb-menu1 a {	
	color: #585858;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
}

.hamb-menu1 a:hover {
	font-weight: 600;
	color: black;
}

.hamburger1 {
	display: inline-block;
	margin-top: 0px;
	height: 54px;
	width: 270px;
	font-size: 15px;
	text-align: left;
	background-color: #dddddd;
	line-height: 54px;	
	padding-left: 30px;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	border-bottom: 2px solid #c9c9c9;
}

.hamburger1:after {
	content: "⯈";	
}

#hamb1:checked ~ .hamb-menu1 {
	display: block;
}

#hamb1:checked ~ .hamburger1 {
	opacity: 0.7;
	border-bottom: 0px;
}

#hamb1:checked ~ .hamburger1:after{
	content: "⯆";	
}

#hamb1 {
	display: none;
}

.hamb-menu2 {
	display: none;	
	left: 0px;
	margin: 0px;
	bottom: 100%;
	width: 270px;
	background-color: white;
	text-align: left;
	padding: 0px;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;	
}

.hamb-menu2 li {
	display: block;			
	padding: 15px 0px 15px 32px; 	
}

.hamb-menu2 a {	
	color: #585858;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
}

.hamb-menu2 a:hover {
	font-weight: 600;
	color: black;
}

.hamburger2 {
	display: inline-block;
	margin-top: 0px;
	height: 54px;
	width: 270px;
	font-size: 15px;
	text-align: left;
	background-color: #dddddd;
	line-height: 54px;	
	padding-left: 30px;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
}

.hamburger2:after {
	content: "⯈";	
}

#hamb2:checked ~ .hamb-menu2 {
	display: block;
}

#hamb2:checked ~ .hamburger2 {
	opacity: 0.7;
}

#hamb2:checked ~ .hamburger2:after{
	content: "⯆";	
}

#hamb2 {
	display: none;
}

.stocks {
	border: 1px solid #dddddd;	
	margin-top: 40px;
}

.stocks p {
	margin: 0px;
	margin-left: 23px;
	margin-top: 20px;
}

.stock {
	width: 226px;
	height: 255px;
	background-color: #212121;
	margin: 30px auto 0px;	
}

.stock a {
	display: inline-block;
	font-size: 18px;
	font-weight: 800;
	color: white;	
	margin: 20px 0px 0px 16px;
}

.all {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: red;
	text-decoration: none;
	margin: 20px 0px 20px 23px;
}

.all:hover {
	text-decoration: underline;
}

.img-box {
	position: relative;
	border-bottom: 2px solid red;
	width: 226px;
	height: 141px;
}

.discount-red {
	display: inline-block;
	position: absolute;
	background-image: url("img/red-discount.png");
	height: 19px;
	width: 72px;
	left: 15px;
	top: 19px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: white;	
	line-height: 19px;
}

#rep {
	display: inline-block;
	margin-right: 20px;
}

.advantages {
	display: inline-block;
}

.advantages-box {
	position: relative;	
}



.main-directions p {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 40px;
}

.advantages-box:before {
	position: absolute;
	content: "";
	height: 77px;
	width: 77px;
	background-image: url("img/adv-icon.png");
	display: inline-block;
	vertical-align: middle;	
	top: 160px;
	right: 15px;	
}

#ing .advantages-box:before {
	position: absolute;
	content: "";
	height: 77px;
	width: 77px;
	background-image: url("img/adv-icon2.png");
	display: inline-block;
	vertical-align: middle;	
	top: 160px;
	right: 15px;	
}

.advantages p {
	display: inline-block;
	position: absolute;
	margin-top: 15px;
	margin-left: 30px;
	width: 310px;
	top: 200px;
	font-size: 14px;
	font-weight: 400;
	color: #dddddd;
}

#ing.advantages p {
	display: inline-block;
	position: absolute;
	margin-top: 15px;
	margin-left: 30px;
	width: 270px;
	top: 200px;
	font-size: 14px;
	font-weight: 400;
	color: #dddddd;
}

.advantages span {
	font-size: 19px;
	font-weight: 800;
	color: white;
	line-height: 35px;
}

.qualities {
	margin-top: 65px;
	display: inline-block;
	position: relative;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}

.qualities p:nth-child(1) {
	display: inline-block;
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translate(-50%);	
	background-color: white;
	padding: 0px 15px;
	font-size: 24px;
	font-weight: 800;
	width: 458px;
}

.quality {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 285px;
	text-align: center;
}

.quality:before {
	position: absolute;
	content: "";
	border: 2px solid red;
	transform: rotate(90deg);
	width: 40px;
	top: 215px;
	left: 50%;
	transform: translate(-50%);	
}

.quality img {
	margin-top: 60px;
}

.quality p:nth-child(2) {
	margin-top: 35px;	
	font-size: 18px;
	font-weight: 800;
}

.quality p:nth-child(3) {
	margin-top: 45px;
	font-size: 14px;
	font-weight: 200;
	color: grey;
	margin-bottom: 60px;
}

.lists {
	margin-top: 47px;
}

.list {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	background-color: #f3f3f3;
}

#purpose {
	margin-left: 22px;
}

#material {
	margin-left: 22px;
}

.menu {
	padding-left: 23px;
	height: 430px;
}

.menu lh {
	font-size: 16px;
	font-weight: 800;
}

.menu li {
	list-style-type: none;
	font-size: 13px;
	font-weight: 400;	
	margin-top: 15px;
}

.menu li a {	
	color: black;
	text-decoration: none;
}

.menu li a:hover {
	text-decoration: underline;
}

#type li:nth-child(6) {
	margin-bottom: 40px;
}

.company-info {
	width: 862px;
}

h2 {
	font-size: 24px;
	font-weight: 800;
	margin: 45px 0px 30px 0px; 
}

h3 {
	font-size: 18px;
	font-weight: 700;
	margin: 0px;
}

.company-info p {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 25px;
}

.other-span {
	font-weight: 700;
}

.first-span {
	color: red;
	text-decoration: underline;	
}

.company-info span:nth-child(2) {
	font-weight: 700;
}

.company-info span:nth-child(3) {
	color: red;
	text-decoration: underline;
}

.objects {
	border-top: 1px solid black;
	position: relative;
	margin-top: 55px;
}

.obj {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	margin-top: 55px;
}

#comp, #ges {
	margin-left: 22px;
}

.objects > p {
	font-weight: 800;
	font-size: 24px;
	position: absolute;
	top: -18px;	
	padding: 0px 10px;
	background-color: white;
	left: 50%;
	transform: translate(-50%);
}

.obj a {
	display: inline-block;
	font-weight: 800;
	font-size: 18px;
	color: black;
	text-decoration: none;
	margin: 20px 0px 15px;
}

.obj a:hover {
	text-decoration: underline;
}

.obj p {
	font-weight: 200;
	font-size: 13px;
	color: grey;
}

.all-obj {
	display: block;
	color: red;
	text-decoration: none;
	text-align: right;
	font-weight: 400;
	font-size: 14px;
	margin-top: 10px;
}

.all-obj:hover {
	text-decoration: underline;
}

footer {
	background-color: #1b1b1b;
	font-family: 'Open Sans', sans-serif;
	min-height: 290px;
	margin-top: 50px;
}

.snab-c {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}

.snab-c .snabstroy {
	color: #bfbfbf;
	font-size: 30px;
}

.snab-c p:nth-child(3) {
	font-size: 14px;
	font-weight: 400;
	color: #6b6b6b;
	width: 150px;
	margin-top: 15px;
}

.footer-menu {
	display: inline-block;
	vertical-align: top;
}

.footer-contacts {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 75px;
}

.footer-price {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 70px;
}

.f-menu {
	margin: 50px 0px 0px 75px;
	padding: 0px;
}

.f-menu li {
	list-style-type: none;
	margin-top: 10px;
}

.f-menu lh {
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
}

.f-menu a {
	text-decoration: none;
	color: #6b6b6b;
	font-size: 14px;
	font-weight: 400;
}

.f-menu a:hover {
	text-decoration: underline;
}

.footer-contacts p:nth-child(1) {
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
}

.footer-contacts p:nth-child(2) {
	color: #6b6b6b;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}

.footer-contacts p:nth-child(4) {
	color: #b3b3b3;
	font-size: 20px;
	font-weight: 400;
	margin-top: 30px;
}

.footer-contacts p:nth-child(5) {
	color: #6b6b6b;
	font-size: 13px;
	font-weight: 400;
	margin-top: 10px;
}

.footer-contacts a {
	display: inline-block;
	color: #6b6b6b;
	font-size: 13px;
	font-weight: 400;
	margin-top: 10px;
}

.footer-contacts .call {
	font-size: 15px;
	font-weight: 700;
	color: white;
	border: none;
	width: 215px;
	margin-left: 0px;
}

.footer-price p:nth-child(1) {
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
	width: 290px;
}

.footer-price p:nth-child(2) {
	color: #6b6b6b;
	font-size: 13px;
	font-weight: 400;
	width: 250px;
	margin-top: 10px;
}

.footer-price .price {
	margin: 15px 0px 0px 0px;
}




@media (max-width: 484px) and (min-width: 0px) {
	.left-section {
		display: none;
	}

	.right-section {
		display: block;
		width: 300px;
		margin: auto;
	}

	.header-menu {
		border-right: 0px;
		width: 100%;		
		display: flex;
		flex-wrap: wrap;
		margin: auto;		
	}

	.middle-header {
		text-align: center;
		width: 300px;
		margin: auto;
		border-bottom: 1px solid grey;
	}

	.footer-price {
		display: none;
	}

	footer {
		text-align: center;
	}

	.rent {
		display: none;
	}

	.number {
		display: none;
	}

	.search {
		display: none;
	}

	.slider-wrapper {
		display: none;
	}

	.call {		
		margin: auto;
		margin: 10px 0px;
	}

	.price {		
		margin: 10px 0px;
	}

	.snab-c {
		
	}

	.bottom-header {
		display: none;
	}

	.f-menu {
		margin-left: 10px;
		margin-bottom: 20px;
		text-align: left;
	}

	.footer-contacts {
		display: block;
		margin: 10px auto;
		width: 250px;
	}

	.logo {
		margin-top: 20px;
	}

	#type, #purpose, #material {
		display: block;
		margin: 20px auto;
		height: 290px;
	}

	.lists {
		width: 300px;
	}

	.list img {
		display: none;
	}

	.list li {
		margin-top: 5px;
	}

	#type li:nth-child(6) {
		margin-bottom: 10px;
	}

	.qualities {
		display: none;
	}

	.main-directions p {
		margin-top: 40px;
	}

	.main-directions {
		display: none;
	}

	.objects {
		display: none;
	}

	.company-info {
		width: 290px;		
	}

	.advantages {
		transform: scale(0.9);
    }

	#ges-2, #comp, #ges {
		display: block;
		margin: 20px auto;
		width: 270px;
    }

    header {
    	height: 70px;
    }

    .time-work {
    	display: block;
    	line-height: 15px;
    }

    .top-header {
    	text-align: left;
    }

    .time-work:before {
    	margin-left: 0px;
    }

   	.company-info h3 {
   		font-size: 14px;
   	}

   	.company-info h2 {
   		font-size: 12px;
   	}

   	.company-info p {
   		font-size: 12px;
   	}

}

@media (max-width: 939px) and (min-width: 485px) {
	.left-section {
		display: none;
	}

	.right-section {
		display: block;
		width: 450px;
		margin: auto;
	}

	.header-menu {
		border-right: 0px;
		width: 100%;		
		display: flex;
		flex-wrap: wrap;
		margin: auto;		
	}

	.middle-header {
		text-align: center;
		width: 450px;
		margin: auto;
		border-bottom: 1px solid grey;
	}

	.footer-price {
		display: none;
	}

	footer {
		text-align: center;
	}

	.rent {
		display: none;
	}

	.number {
		display: none;
	}

	.search {
		display: none;
	}

	.slider-wrapper {
		display: none;
	}

	.call {		
		margin: auto;
		margin: 10px 0px;
	}

	.price {		
		margin: 10px 0px;
	}

	.snab-c {
		
	}

	.bottom-header {
		display: none;
	}

	.f-menu {
		margin-left: 10px;
		margin-bottom: 20px;
		text-align: left;
	}

	.footer-contacts {
		display: block;
		margin-left: 0px;
		margin-top: 10px;
	}

	.logo {
		margin-top: 20px;
	}

	#type, #purpose, #material {
		display: block;
		margin: 20px auto;
		height: 290px;
	}

	.list img {
		display: none;
	}

	.list li {
		margin-top: 5px;
	}

	#type li:nth-child(6) {
		margin-bottom: 10px;
	}

	.qualities {
		display: none;
	}

	.main-directions p {
		margin-top: 40px;
	}

	.company-info {
		width: inherit;
	}

	.advantages {
		transform: scale(0.9);
    }

	#ges-2, #comp, #ges {
		display: block;
		margin: 20px auto;
		width: 270px;
    }

}

@media (max-width: 1230px) and (min-width: 940px) {
	.left-section {
		display: none;
	}

	.right-section {
		display: block;
		width: 864px;
		margin: auto;
	}

	.header-menu {
		border-right: 0px;
		width: 900px;
		display: flex;
		margin: auto;
	}

	.middle-header {
		text-align: center;
	}

	.footer-price {
		display: none;
	}

	footer {
		text-align: center;
	}

	.rent {
		display: none;
	}

	.number {
		display: none;
	}

	.search {
		display: none;
	}

	.slider-wrapper {
		display: none;
	}	
}

